h1{
  text-align: center;
  font-family: 'Lobster', cursive;
  color: #ffc6be;
}

#informacion{
  text-align: center;
  font-family: 'Bree Serif', serif;
  color: #ffa1c5;
}

.boton{
  background-color: #a773c3;
  font-size: 21px;
  text-align: center;
  border-radius: 30px;
  font-family: 'Courgette', cursive;
}

#opciones{
  text-align: center;
  font-family: 'Gabriela', serif;
  color: #854777;
}

#seleccion{
  text-align: center;
}

img{
  border: 5px dashed blueviolet;
}

#resultado{
  text-align: center;
  font-size: 25px;
  color: #854777;
}

#resultados{
  text-align: center;
  font-size: 25px;
  color: #854777;
}

#desplazamiento{
  margin-bottom: 21px;
}